pipeline/inc_load.json
{
	"name": "inc_load",
	"properties": {
		"activities": [
			{
				"name": "max_date",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select MAX(orderdate) as Max_orderdate from orders1"
					},
					"dataset": {
						"referenceName": "lookup_max_date",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "inc_load",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "max_date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from orders\nwhere orderdate > '@{activity('max_date').output.firstrow.Max_orderdate}'\n"
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "orderid",
									"type": "Int32"
								},
								"sink": {
									"name": "orderid",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "custid",
									"type": "Int32"
								},
								"sink": {
									"name": "custid",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "empid",
									"type": "Int32"
								},
								"sink": {
									"name": "empid",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "orderdate",
									"type": "DateTime"
								},
								"sink": {
									"name": "orderdate",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "requireddate",
									"type": "DateTime"
								},
								"sink": {
									"name": "requireddate",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "shippeddate",
									"type": "DateTime"
								},
								"sink": {
									"name": "shippeddate",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "shipperid",
									"type": "Int32"
								},
								"sink": {
									"name": "shipperid",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "freight",
									"type": "Decimal"
								},
								"sink": {
									"name": "freight",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "shipname",
									"type": "String"
								},
								"sink": {
									"name": "shipname",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "shipaddress",
									"type": "String"
								},
								"sink": {
									"name": "shipaddress",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "shipcity",
									"type": "String"
								},
								"sink": {
									"name": "shipcity",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "shipregion",
									"type": "String"
								},
								"sink": {
									"name": "shipregion",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "shippostalcode",
									"type": "String"
								},
								"sink": {
									"name": "shippostalcode",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "shipcountry",
									"type": "String"
								},
								"sink": {
									"name": "shipcountry",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "input",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "output",
						"type": "DatasetReference"
					}
				]
			}
		]
	}
}