pipeline/multiple_table_load.json
{
	"name": "multiple_table_load",
	"properties": {
		"activities": [
			{
				"name": "get_list",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select tblName from [dbo].[table_list]"
					},
					"dataset": {
						"referenceName": "tbl_list",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "load_data",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "get_list",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"items": {
						"value": "@activity(get_list).output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "tbl_load",
							"type": "Copy",
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": "select * from @{item().tblName"
								},
								"sink": {
									"type": "AzureSqlSink"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "empid",
												"type": "Int32"
											},
											"sink": {
												"name": "empid",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "lastname",
												"type": "String"
											},
											"sink": {
												"name": "lastname",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "firstname",
												"type": "String"
											},
											"sink": {
												"name": "firstname",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "title",
												"type": "String"
											},
											"sink": {
												"name": "title",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "titleofcourtesy",
												"type": "String"
											},
											"sink": {
												"name": "titleofcourtesy",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "birthdate",
												"type": "DateTime"
											},
											"sink": {
												"name": "birthdate",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "hiredate",
												"type": "DateTime"
											},
											"sink": {
												"name": "hiredate",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "address",
												"type": "String"
											},
											"sink": {
												"name": "address",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "city",
												"type": "String"
											},
											"sink": {
												"name": "city",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "region",
												"type": "String"
											},
											"sink": {
												"name": "region",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "postalcode",
												"type": "String"
											},
											"sink": {
												"name": "postalcode",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "country",
												"type": "String"
											},
											"sink": {
												"name": "country",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "phone",
												"type": "String"
											},
											"sink": {
												"name": "phone",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "mgrid",
												"type": "Int32"
											},
											"sink": {
												"name": "mgrid",
												"type": "Int32"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "onprem",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "tbl_load",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		]
	}
}