pipeline/multiple_table_load.json
{
	"name": "multiple_table_load",
	"properties": {
		"activities": [
			{
				"name": "get_list",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select [tblname],[maxdate],inccolumn\nfrom [dbo].[TblList]"
					},
					"dataset": {
						"referenceName": "AzureSQL",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "load_data",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "get_list",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"items": {
						"value": "@activity('get_list').output.values",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "tbl_load",
							"type": "Copy",
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "select * from @{item().tblName}\nwhere @{item().inccolumn}>@{item().maxdate}",
										"type": "Expression"
									}
								},
								"sink": {
									"type": "AzureSqlSink"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "input",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "output",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		]
	}
}